.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 40px;
}

.darkColor {
  color: black;
}

.active {
  color: #FF6464;
}

.themeToggle {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}